<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>question</title>
    <link rel="stylesheet" type="text/css" href="question.css">
  </head>
  <body>
    <div class="paragraph">
      <p class="question">
        Question: {{question}}
      </p>

      <p class="choice">
        <span>Yes:{{yes}}</span>
        <span>No:{{no}}</span>
      </p>
    </div>
  </body>
</html>
