.paragraph {
  display: block;
  text-align: center;
  font-weight: bold;
}

.choice span{
  display: inline-block;
  margin-right: 100px;
  margin-left: 100px
}

.form {
  display: inline-block;
  text-align: center;
  /*margin-right: 100px;
  margin-left: 100px;
  width: 100px;*/
}

.submit {
  margin-left: 100px;
  margin-right: 100px;
}
