*,
*:before,
*:after{
    box-sizing: border-box;
}


/*gom co 3 phan*/
/*selector*/ /*property*/ /*value*/
/*1.style theo ten the*/
h1,
section {color: red;}

/*style theo id cho 1 phan tu duy nhat*/
#secondli{
  background: #ffff00;
}

/*2.style theo class, co the lap lai nhieu lan*/
.firstli {
  background: #ffff00;
}

.blurred-text{
  color: rgba(0,0,0,0.2);
}

.font_family_demo {
       font-family: "Comic Sans MS";
     }


/*3.style theo attribute*/
[type="text"]{
  border: 1px solid red;
  /*gop 3 gia tri borderwidth borderstyle va bordercolor*/
}

/*4.style theo trang thai,sau dau : la trang thai*/
li:hover{
  text-shadow: 1px 1px blue;
  /*do bong khi dua chuot len doi voi nhung the li*/
}

/*active la click len se hien trang thai, chi co link va button moi co trang thai nay*/
a:active{
  font-weight: bold;
}

input:focus{
  border-radius: 6px;
  /*bo tron goc*/
}

img {
  border-radius: 100px;
}

/*5. Style theo quan he cha con*/
/*chi style doi voi li nam trong ol, quan he cha con*/
ol li {
  font-family: "Comic Sans MS";
  border-bottom: 1px solid blue
}
ol li:last-child{
  border:0 none;
}
/*quan he cha con truc tiep, chi nhung con truc tiep moi duoc huong*/
ol > li {
  width: 400px;
}
