.form {
  display: inline-block;
  text-align: center;
}

.label{
  width: 100px;
  line-height: 10px;
  height: 10px;
  font-weight: bold;
  margin-left: 100px;
}

.text {
  border: 1px solid red;
  margin-left: 20px;
  width: 800px;
  height: 200px;
  text-align:left;
  margin-top: 100px;
}

.submit {
  width: 80px;
  height: 30px;
}
