.menu{
  background: #D5B0AC;
  color: #402E2A;
  font-weight: bold;
  text-align: center;
}

.menu span{
  display: inline-block;
  width: 100px;
  line-height: 30px;
}

.menu span:hover{
  background: #9CD08F;
  color: #ffffff;
  cursor: pointer;
}

.menu_vertical{
  display: inline-block;
}

.menu_vertical span{
  display: block;
  border-bottom: 1px solid #ffffff;
}
