*,
*:before,
*:after{
  box-sizing: border-box;
}

/* selector */
h1,
section {
  /* property */
  color: red;
}

#secondli {
  background: #ffff00;
}

.firstli{
  background: rgb(0,255,0);
}

.blurred-text{
  color: rgba(0,0,0,0.2);
}

[type="text"]{
  border: 1px solid red;
}

li:hover{
  text-shadow: 1px 1px blue;
}

a:active{
  font-weight: bold;
}

input:focus{
  border-radius: 6px;
}

ol li {
  font-family: "Comic Sans MS";
  border-bottom: 1px solid blue;
}

ol li:last-child{
  border: 0 none;
}

ol > li {
  width: 400px;
}
