<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quyet de</title>
    <link rel="stylesheet" type="text/css" href="quyetDe.css">
  </head>
  <body>
    <nav class="menu">
      <a href="D:\JavaCode\JavaScript\Web9.0\SaaS\QuyetDeMockup\layout\quyetDe.html">Quyet de</a>
      <a href="D:\JavaCode\JavaScript\Web9.0\SaaS\QuyetDeMockup\layout\hoiNhanh.html">Hoi nhanh</a>
      <a href="D:\JavaCode\JavaScript\Web9.0\SaaS\QuyetDeMockup\layout\dapGon.html">Dap gon</a>
    </nav>
    <div class="question">
      <p>Dap gon</p>
    </div>
    <form class="submit" action="index.html" method="post">
      <input type="submit" name="submit" value="Sai/Khong/Trai">
      <input type="submit" name="submit" value="Dung/Co/Phai">
    </form>
    <form class="choice" action="index.html" method="post">
      <input type="button" name="button" value="Ket qua truoc">
      <input type="button" name="button" value="Cau hoi khac">
    </form>
  </body>
</html>
